*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 3rem;
    background-color: blue;
    color: #FFFFFF;
    font-family: Noto Sans;
    height: 5rem;
    width: 100%;
}

body{
    background-color: #F9F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-label{
    text-align: center;
    font-size: 1.6em;
    font-family: Maven Pro;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #1e60bb;
    margin-bottom: 2rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    background-color: #fff;
    padding: 60px 80px;
    min-width: 300px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 30px rgb(0 0 0 / 20%);
}

.input-label{
    
    font-family: Noto Sans;
    font-size: .9em;
    font-weight: 500;
    color: rgba(110, 107, 107, 0.89);
}
.input-group{
    display: flex;
    margin-top: .1rem;
    height: 2rem;
    border-radius: 6px;
    height: 46px;
   
}

.input-group span {
    background-color: #1E60BB;
    color: #ffff;
    padding: 12px 10px 0 14px;
    align-items: center;
    transition: all .25s;
    font-size: 1em;
    font-family: Noto Sans;
    width: 2rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

input{
    background-color: #EEEEEE;
    font-family: Noto Sans;
    box-shadow: none;
    border-color: #EEEEEE;
    border: none;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    width: 20rem;
    padding: 6px;
    font-size: 1em;
}

#fees{
    background-color: #1E60BB;
    color: #ffff;
    display: flex;
    align-items: center;
    transition: all .25s;
    font-size: 1em;
    font-family: Noto Sans;
    font-weight: bold;
    width: 6rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.time-course{
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    width: 17.5rem;
}

input:focus{
    outline: none;
}

.button-group button{
    margin-top: 3rem;
    margin-bottom: 2rem;
    background-color: #1E60BB ;
    color: #FFFFFF;
    font-family: Noto Sans;
    font-weight: bold;
    font-size: .9em;
    border-radius: 25px;
    letter-spacing: 2px;
    padding: 8px 16px;
    transition: .3s;
    align-items: center;
    outline: none;
    border: 1px solid transparent;
}

.button-group button:hover{
    cursor: pointer;
    transition: .4s;
    background-color: #FFFFFF;
    color: black;
    border: 1px solid black ;
}

.data-financing table{
    width: 100%;
    font-family: Noto Sans;
    margin: 0;
    font-size: 14px;
    margin-top: 3rem;
}

th{
    text-align: center;
    font-size: 1.6em;
    font-family: Maven Pro;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #1e60bb;
    margin-bottom: 4rem;
}

td {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    font-size: 16px;
    padding: 8px;
    font-family: Noto Sans;
  }



.data-financing {
    margin-top: 3rem;
}

.result{
    font-weight: bold;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    margin-top: 4rem;
    color: #FFFFFF;
    bottom:0;
    left:0;
    font-family: Maven Pro;
    font-size: 18px;
    text-align: center;
    align-items: center;
    height: 3rem;
    background-color: #1E60BB ;
    width: 100%;
    /* position: fixed; */
}

footer a {
    color: white;
    
}

/* responsividade */

@media (max-width: 800px){
    body{
      
        background: #fff;
    }

    .container{
        
        border: none;
        box-shadow: none;
        
        padding: 20px 20px;
        margin: 1rem;
       
    }
     
    header{
      
        display: none;
    }

    

    .data-financing table{
        width: 100%;
        font-family: Noto Sans;
        margin: 0;
        padding: 2rem;
        font-size: 12px;
        margin: 3px ;

    }

     td {
        border-bottom: 1px solid #dddddd;
        text-align: left;
        font-size: 14px;
        padding: auto;
        font-family: Noto Sans;
        margin-right: 200px;
        
    }

    table{
        padding: 20% 10%;
    }



    .data-financing {
        margin-top: 3rem;
    }



    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-top: 2rem; */
        color: #FFFFFF;
        bottom:0;
        left:0;
        font-family: Maven Pro;
        font-size: 16px;
        text-align: center;
        align-items: center;
        height: 2rem;
        background-color: #1E60BB ;
        width: 100%;
        position: fixed;
    }
}