*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 3rem;
    background-color: blue;
    color: #FFFFFF;
    font-family: Noto Sans;
    height: 5rem;
    width: 100%;
}

body{
    background-color: #F9F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-label{
    text-align: center;
    font-size: 1.6em;
    font-family: Maven Pro;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #1e60bb;
    margin-bottom: 1rem;
}

.master{
    margin: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    background-color: #fff;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 30px rgb(0 0 0 / 20%);
    padding: 1rem 2rem;
}

.input-label{
    
    font-family: Noto Sans;
    font-size: .9em;
   
    font-weight: 500;
    color: rgba(110, 107, 107, 0.89);
    
}
.input-group{
    display: flex;
    margin-top: .1rem;
    height: 2rem;
    border-radius: 6px;
    height: 46px;
   
}
.input-wrapper{
    margin-bottom: 9px;
}

.input-group span {
    background-color: #1E60BB;
    color: #ffff;
    padding: 12px 10px 0 14px;
    align-items: center;
    transition: all .25s;
    font-size: 1em;
    font-family: Noto Sans;
    width: 2rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

input{
    background-color: #EEEEEE;
    font-family: Noto Sans;
    box-shadow: none;
    border-color: #EEEEEE;
    border: none;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    width: 20rem;
    padding: 6px;
    font-size: 1em;
}

#select_fees, #select_time{
    background-color: #1E60BB;
    color: #ffff;
    display: flex;
    align-items: center;
    transition: all .25s;
    font-size: 1em;
    font-family: Noto Sans;
    font-weight: bold;
    width: 6rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.time-course{
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    width: 17.5rem;
}

input:focus{
    outline: none;
}

.button-group button{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #1E60BB ;
    color: #FFFFFF;
    font-family: Noto Sans;
    font-weight: bold;
    font-size: .9em;
    border-radius: 25px;
    letter-spacing: 2px;
    padding: 8px 16px;
    transition: .3s;
    align-items: center;
    outline: none;
    border: 1px solid transparent;
}

.button-group button:hover{
    cursor: pointer;
    transition: .4s;
    background-color: #FFFFFF;
    color: black;
    border: 1px solid black ;
}

.data-financing table{
    width: 100%;
    font-family: Noto Sans;
    margin: 0;
    font-size: 14px;
}

th{
    text-align: center;
    font-size: 1.6em;
    font-family: Maven Pro;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #1e60bb;
    margin-bottom: 2rem;
}

td {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    font-size: 16px;
    padding: 8px;
    font-family: Noto Sans;
}

.data-financing {
    margin-top: 1rem;
}

.result{
    font-weight: bold;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    color: #FFFFFF;
    bottom:0;
    left:0;
    font-family: Maven Pro;
    font-size: 18px;
    text-align: center;
    align-items: center;
    height: 3rem;
    background-color: #1E60BB ;
    width: 100%;
   
}

footer a {
    color: white;
}

/* responsividade */

@media (max-width: 575px){
    main{
        display: block;
        align-items: center;
    }
    header{
        display: none;
    }
    .data-financing table{
        width: 100%;
        font-family: Noto Sans;
        margin: 0;
        padding: 1rem;
        font-size: 12px;
        margin: 3px ;
    }
    .container{
        border: none;
        box-shadow: none;
    }
    body{
        background-color:  #FFFFFF;
    }

    .button-group button{
        margin-top: 2rem;
        margin-bottom: -1rem;
    }

    footer{
        position: fixed;
    }
}

@media (max-width: 480px){
    .container{
        box-shadow: none;
        border: none;
    }
    .data-financing table{
        width: 100%;
        padding: 2rem;
        margin: 3px ;
    }
}

@media(max-width:423px){
    main{
       max-width: 400px;
    }
    .container{
        display: block;
        align-items: center;
        justify-content: center;
        margin: 1px;
    }
    .button-group button{
        font-size: 11px;
    }
    .info-label{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 396px){
    main{
        max-width: 396px; 
    }
    
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 0;
    }
    input{
        width: 15rem;
    }
    .time-course{
        width: 12rem;
    }
    .button-group button{
        display: inline-grid;
    }
    footer{
        text-align: center;
        height: 2rem;
        align-items: center;
        display: flex;
    }
}

@media (max-width: 345px){

    .container{
        margin: 1%;
        padding: 2%;
        max-width: 345px;
    }

    .button-group{
        display: flex;
    }
    input{
        width: 15rem;
    }
    .time-course{
        width: 12rem;
    }
    footer{
        font-size: 1rem;
        height: 2rem;
    }
    table{
        padding: 1px;
    }
}

@media (max-width: 325px){
    main{
        max-width: 325px; 
    }
    
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 0;
    }
    input{
        width: 15rem;
    }
    .button-group button{
        display: inline-grid;
        text-align: center;
        border: none;
    }
    .time-course{
        width: 12rem;
    }
    footer{
        text-align: center;
    }
}

@media (max-width:310px){
    main{
        max-width: 310px; 
    }
    
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 0;
    }
    input{
        width: 12rem;
    }
    .time-course{
        width: 9rem;
    }
}

@media (max-width:261px){
    main{
        max-width: 261px; 
    }
    
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 0;
    }
    input{
        width: 9rem;
    }
    .time-course{
        width: 7rem;
    }
}